body {
    font-family: Arial, sans-serif;
    background-color: #e4c8c8;
    text-align: center;
}

.container {
    margin-top: 50px;
}

h1 {
    color: #333;
}

.input-container {
    margin-bottom: 20px;
}

#todoInput {
    padding: 10px;
    width: 300px;
    font-size: 16px;
}

button {
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

#todoList {
    list-style-type: none;
    padding: 0;
    max-width: 400px;
    margin: 0 auto;
}

#todoList li {
    background-color: white;
    padding: 10px;
    border: 1px solid #ddd;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.completed {
    text-decoration: line-through;
    color: grey;
}

.action-buttons {
    display: flex;
    gap: 10px;
}

.action-buttons button {
    background-color: #d9534f;
    padding: 5px 10px;
    color: white;
    border: none;
    cursor: pointer;
}

.action-buttons button:hover {
    background-color: #c9302c;
}